<ion-view view-title="About">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-email"></button>
  </ion-nav-buttons>
  
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        <h2>H.O.P.E</h2>
        <h4>(Hit Opportunity Pedagogy Employment)</h4>
        <h2 style="margin-top: 10px;">Core Team</h2>
        <ul style="font-size: 15px; color: #000;">
          <li><a href="http://twitter.com/qaplen">Rishi Mohan</a> - UI/UX Designer</li>
          <li><a href="mailto:manishdhiman.animator@gmail.com">Manish Dhiman</a> - Graphic Designer</li>
          <li><a href="https://twitter.com/gauravbutola">Gaurav Butola</a> - Mr. Dependable</li>
          <li><a href="http://twitter.com/Crank7">Pritish Chakraborty</a> - Jack of All Trades</li>
        </ul>
        <h2 style="margin-top: 10px;">Special Thanks -:</h2>
        <p style="color: #000">Sahil Gupta, Ankur Goel</p>
      </div>
    </div>
  </ion-content>
</ion-view>
